<!DOCTYPE html>
<html>

{{#>head}}
{{/head}}

<body>
    {{#> menu}}
    {{/menu}}
    {{> @partial-block}}




</body>

{{#>footer}}
{{/footer}}

{{!--
<script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}

</html>