{{!-- //seccion Servicios --}}
<div class="section" id="servicios-section" data-anchor="contacto">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="servicios-encabezado text-center">CONTACTO</h1>
            </div>
        </div>
        {{!-- <div class="row">
            <div class="col">
                <h4 class="servicios-descripcion text-center">Contamos con instalaciones electricas y de tuberia,
                    tambien
                    fabricamos y montamos estructura para fábricas</h4>
            </div>
        </div> --}}
        <div class="row">
            <div class="col">
                {{!-- <button type="button" class="btn-vermas btn btn-outline-light mx-auto btn-sm" style="width: 150px;">
                    <a class="text-center" href="#">Información</a>
                </button> --}}
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {{!-- <div class="row">
            <div class="col-4"></div>
            <div class="col-4 logo">
                <img src="/assets/img/logo.svg" alt="">
            </div>
            <div class="col-4"></div>
        </div> --}}
    </div>
</div>