{{!-- //seccion Servicios --}}
<div class="section" id="servicios-section" data-anchor="instalaciones">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="servicios-encabezado text-center">INSTALACIONES</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="servicios-descripcion text-center">Contamos con instalaciones electricas y de tuberia,
                    tambien
                    fabricamos y montamos estructura para fábricas</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn-vermas btn btn-outline-light mx-auto btn-sm" style="width: 150px;">
                    <a class="text-center" href="#">Información</a>
                </button>
            </div>
        </div>
        {{!-- <div class="row">
            <div class="col-4"></div>
            <div class="col-4 logo">
                <img src="/assets/img/logo.svg" alt="">
            </div>
            <div class="col-4"></div>
        </div> --}}
    </div>
</div>