{{#> body}}

{{#servicio}}
{{#each this}}
<article>
	<h3>{{servicio.titulo_servicio}}</h3>

	<a href="/servicios/{{page_slug}}">Read more...</a>
</article>
{{/each}}
{{/servicio}}

<div id="fullpage">
	{{#> seccion-acercade}}
	{{/seccion-acercade}}

	{{#> seccion-servicios}}
	{{/seccion-servicios}}

	{{#> seccion-instalaciones}}
	{{/seccion-instalaciones}}

	{{#> seccion-clientes}}
	{{/seccion-clientes}}

	{{#> seccion-contacto}}
	{{/seccion-contacto}}

</div>


{{/body}}